* {
  margin: 0;
  font-family: 'Malgun Gothic', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.bg1 {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/seoul.jpeg');
  background-size: cover;
  background-position: center;
}
.bg2 {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/busan.jpeg');
  background-size: cover;
  background-position: center;
}
.bg3 {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/jeju.jpeg');
  background-size: cover;
  background-position: center;
}

.bx-controls {
  display: none;
}

.contents {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
}

.city {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tempt {
  font-size: 40px;
  margin-bottom: 20px;
}

.weather {
  margin-top: 20px;
}
