/* 반응형으로 바꿀시 수정해야함 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}

li {
  list-style: none;
}

.bg1 {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/seoul.jpeg');
  background-size: cover;
  background-position: center;
}
.bg2 {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/busan.jpeg');
  background-size: cover;
  background-position: center;
}
.bg3 {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/jeju.jpeg');
  background-size: cover;
  background-position: center;
}

.bx-controls {
  display: none;
}

.contents {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tempt {
  font-size: 40px;
  margin-bottom: 20px;
}

.weather {
  margin-top: 20px;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navbar_menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 20vw;
  height: 100vh;
  top: 0;
  text-align: center;
  z-index: 1;
}

.navbar_menu_item {
  color: #bdbdbd;
  padding-top: 80px;
  font-size: 19px;
  cursor: pointer;
}

.navbar_menu_item:hover {
  color: white;
  transition: all 400ms ease;
}

.navbar_menu-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 1;
  color: #bdbdbd;
  font-size: 35px;
  cursor: pointer;
}

.navbar_menu-btn:hover {
  color: white;
  transition: all 400ms ease;
}

.navbar_menu.active {
  display: block;
}

.navbar_login {
  display: flex;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
}

.navbar_login > li {
  padding: 10px;
  margin-left: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.navbar_login_item:hover {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 400ms ease;
}
